body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin-left: 156px;
  margin-top: 36px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  gap: 8px;
  border: 1px solid #808080;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

input:disabled {
  border: 1px solid #808080;
}

button {
  width: 75px;
  height: 40px;
  font: Montserrat;
  border: none;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #004cff;
  text-align: center;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

/* button:active {
  color: #ffffff;
  background-color: #0d23b2;
} */

.field {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  text-align: center;
}

.timer {
  margin-left: 156px;
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.value {
  font-size: 60px;
  /* font: Montserrat;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 4%; */
}

.label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  color: #2e2f42;
  text-transform: uppercase;
}
